<div class="container container--historial">
  <table 
    *ngIf="!isTableEmpty"
    class="table table-striped"
  >
    <tbody>
      <tr *ngFor="let historial of indicador.serie">
        <td class="table__td table__td--fecha">{{historial.fecha | date:'dd/MM/yyyy'}}</td>
        <td class="table__td table__td--valor">$ {{historial.valor}}</td>
      </tr>
    </tbody>
  </table>
  <div 
    class="alert alert-info alert--historial" 
    role="alert"
    *ngIf="isTableEmpty"
  >
    No hay datos suficientes.
  </div>
</div>